.button {
  background: hsla(212, 47%, 47%, 1);
  padding: 0.6rem 0.5rem;
  font-family: Roboto;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: #e1e6ea;
  border-radius: 8px;
  transition: all 0.3s;
  cursor: pointer;
  outline: none;
  border: none;
  grid-area: 6 / 2 / 8 / 3;
}
.button:hover,
.button:active {
  color: #526270;
  background: hsla(212, 67%, 87%, 1);
  box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
  /* position: absolute;
  bottom: 2rem;
  right: 2rem; */
}
