.card {
  border-radius: 40px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  width: 60rem;
  height: 20rem;
  max-width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  opacity: 1;
  visibility: visible;
}
.opacity {
  opacity: 1;
}
