.form-control {
  margin: 0.5rem 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  align-items: center;
  justify-content: center;
  position: absolute;
  grid-gap: 0.8rem;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
  font-family: "Roboto";
}
.user {
  border: 1px solid hsla(206, 13%, 43%, 1);
  width: 90%;
  grid-area: 3 / 2 / 4 / 7;
  height: 3rem;
  font-size: 1.6rem;
}
.user.invaild {
  border: 1px solid red;
}
.user:focus,
.age:focus {
  background-color: #dae1e6;
  outline: none;
  border-radius: none;
  color: #3c4852;
}
.age {
  border: 1px solid hsla(206, 13%, 43%, 1);
  width: 90%;
  grid-area: 5 / 2 / 6 / 7;
  height: 3rem;
  font-size: 1.6rem;
}
.age.invaild {
  border: 1px solid red;
}
.userLabel {
  font-family: inherit;
  margin-top: 0.8rem;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  color: hsla(207, 15%, 28%, 1);
  grid-area: 2 / 2 / 3/ 2;
}
.ageLabel {
  font-family: inherit;
  margin-top: 0.8rem;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  color: hsla(207, 15%, 28%, 1);
  grid-area: 4 / 2 / 5 / 5;
}
