.form-list {
  list-style: none;
  margin-top: 2rem;
  padding: auto;
  border-radius: 40px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  width: 80%;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
