.form-item {
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  color: #3c4852;
  cursor: pointer;
  border: 1px solid hsla(206, 13%, 43%, 1);
  width: 90%;
  height: 3rem;
  font-size: 1.6rem;
  text-align: left;
  padding: 0 0.5rem;
  margin: 1rem 0;
}
