.card__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background: #7b96ad;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 40px 40px 0 0;
}
.card__header h3 {
  position: absolute;
  top: 0;
  left: 3rem;
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  color: #e1e6ea;
  margin: 0;
}
p {
  position: absolute;
  top: 35%;
  left: 3rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 28px;
}
.button {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
