#goal-form {
  margin-bottom: 2rem;
  margin-top: 4rem;
  width: 60rem;
  max-width: 90%;
  height: 28rem;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 40px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
#goal-input {
  width: 100%;
  max-width: 80%;
  height: 10%;
  position: absolute;
  top: 60%;
  left: 66%;
  transform: translate(-50%, -50%);
}
